* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eeeded;
}

.cabecalho {
    width: 100%;
    margin-top: 0;
    gap: 20px;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuCabecalho a {
    color: #1e7fee;
    text-decoration: none;
    padding: 10px 12px;

}

.menuCabecalho a:hover {
    text-decoration: underline 4px;
}

.container_noticias {
    width: 100%;

}

.secao_principal {
    width: 90%;
    margin: 20px auto;
    background-color: white;

}

.secao_principal .titulo {
    width: 60%;
    text-align: center;
    margin: auto;
}

.secao_principal .titulo h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 50px;
}

.secao_principal .titulo p {
    font-size: 18px;
    margin-top: 20px;
}

.grup_Cards_noticias{
    display: flex;
    margin: 25px auto;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
}

.card_noticia {
    box-shadow: 5px 5px 10px rgb(0, 0, 0, .212);
    border-radius: 5px;
    width: 70%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    text-align: justify;
}

.secao_imagem {
    justify-items: center;
    align-items: center;
}

.secao_imagem img {
    width: 60%;
    height: auto;
}

.conteudo {
    padding: 15px 20px;

}

.data_postagem a {
    text-decoration: none;
    font-weight: 700;
    font-size: small;
    color: white;
    display: inline-block;
    background-color: #1e7fee;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.data_postagem a:hover {
    background-color: #1232c5;
}

.data_postagem p {
    padding: 5px;
    font-size: 0.60rem;
    font-weight: 700;
    text-align: center;
}

footer {
    width: 100%;
    color: black;
}

#footer-conteudo {
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    gap: 150px;
}

#footer-contatos h1 {
    margin-bottom: 0.75rem;
}

#footer-contatos p {
    color: black;
}

#footer-redes-sociais {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-redes-sociais .footer-link {
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
}

#footer-redes-sociais .footer-link i {
    font-size: 1.25rem;
}

#footer-redes-sociais .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-lista {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer-lista .footer-link {
    color: rgb(26, 2, 241);
    text-decoration: none;
    font-weight: 300;
    font-size: 0.85rem;
}

#footer-inscreva-se {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#footer-inscreva-se input {
    height: 25px;
    margin: 0.2rem 0;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    outline: none;
}

#footer-inscreva-se input::placeholder {
    color: #000000be;
}

#footer_copywrigth {
    display: flex;
    justify-content: center;
}

/* responsividade header */
@media screen and (max-width: 951px){
    .cabecalho {
        flex-direction: column;
    }
    
    
}

/* responsividade header- fim */

/* responsividade reodape */
@media screen and (max-width: 1064px) {
    #footer-conteudo {
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-left: 20px;
        margin-right: auto;
        text-size-adjust: auto;
    }
    
    .card_noticia {
        width: 90%;
    }

}

@media screen and (max-width: 950px) {
    
    #footer-conteudo {
        flex-direction: column;
        gap: 25px;
        margin-left: 20px;
        margin-right: auto;
        text-size-adjust: auto;
    }
    
    #footer-inscreva-se {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
    }
    
    #footer-inscreva-se {
        font-size: 0.90rem;
    }

    #footer_copywrigth {
        justify-content: center;
    }

    #footer_copywrigth p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 0.75rem;
        font-weight: 600;
        color: black;
    }
    /* responsividade reodape - fim*/
}