*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eeeded;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cabecalho {
    width: 100%;
    margin-top: 0;
    gap: 20px;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuCabecalho a {
    color: #1e7fee;
    text-decoration: none;
    padding: 10px 12px;
}

.containerSobre {
    width: 100%;
    height: 69vh;
    display: flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#conteudoSobre1 {
    width: 30%;
    height: 40vh;
    padding-top: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #1b4c7a;
    background-image: url(../img/imageAlvo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, .212);
    text-align: justify;
}
 
h2, h4 {
    color: white;
}

#conteudoSobre2 {
    width: 30%;
    height: 40vh;
    padding-top: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #1b4c7a;
    background-image: url(../img/imagetecnologia.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, .212);
    text-align: justify;
}

#conteudoSobre3 {
    width: 30%;
    height: 40vh;
    padding-top: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #1b4c7a;
    background-image: url(../img/imageComunidade.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, .212);
    text-align: justify;
}

/* rodape */
footer{
    width: 100%;
    color: black;
}

#footer-conteudo{
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    background: #eeeded; 
    display: inline-flex;
    gap: 150px;
}

#footer-contatos h1{
    margin-bottom: 0.75rem;
}

#footer-contatos p {
    color: black;
}

#footer-redes-sociais{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer-redes-sociais .footer-link{
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    height: 2.5rem;
    width: 2.5rem;
    color: white;
    border-radius: 50%;
}

#footer-redes-sociais .footer-link i {
    font-size: 1.25rem;
}

#footer-redes-sociais .footer-link:hover{
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook{
    background-color: #4267b3;
}

#whatsapp{
    background-color: #25d366;
}

.footer-lista {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer-lista .footer-link{
    color: rgb(26, 2, 241);
    text-decoration: none;
    font-weight: 300;
    font-size: 0.85rem;
}

#footer-inscreva-se {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#footer-inscreva-se input {
    height: 25px;
    margin: 0.2rem 0;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    outline: none;
}

#footer-inscreva-se input::placeholder {
    color: #000000be;
}

#footer_copywrigth {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
}

/* responsividade header */
@media screen and (max-width: 951px){
    .cabecalho {
        flex-direction: column;
    }
}
/* responsividade header- fim */




@media screen and (max-width: 1064px) {
    .imgBlogging img{
        width: 100%;
    }    
    .imgConecta img{
        width: 100%;
    }
    .imgTech img{
        width: 100%;
    }
    #footer-conteudo {
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-left: 20px;
        margin-right: auto;
        text-size-adjust: auto;
    }
}

@media screen and (max-width: 950px) {
    
    #footer-conteudo {
        flex-direction: column;
        gap: 25px;
        margin-left: 20px;
        margin-right: auto;
        text-size-adjust: auto;
    }
    
    #footer-inscreva-se {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;
    }
    
    #footer-inscreva-se {
        font-size: 0.90rem;
    }

    #footer_copywrigth {
        justify-content: center;
    }

    #footer_copywrigth p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 0.75rem;
        font-weight: 600;
        color: black;
    }
    /* responsividade reodape - fim*/
}